rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cats/{catId} {
      allow read: if true;
      allow write: if false;
    }

    match /faqSections/{sectionId} {
      allow read: if true;
      allow write: if false;
    }

    match /faqItems/{itemId} {
      allow read: if true;
      allow write: if false;
    }

    match /site/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
